<!-- Pagination -->
<ul class="actions pagination">
    {{ if .Paginator.HasPrev }}
        <li><a href="{{ .Paginator.Prev.URL | relLangURL }}"
                class="button big previous">{{ i18n "previousPage" }}</a></li>
    {{ else }}
        <li><a href="#" class="disabled button big previous">{{ i18n "previousPage" }}</a></li>
    {{ end }}

    {{ if .Paginator.HasNext }}
        <li><a href="{{ .Paginator.Next.URL | relLangURL }}"
                class="button big next">{{ i18n "nextPage" }}</a></li>
    {{ else }}
        <li><a href="#" class="disabled button big next">{{ i18n "nextPage" }}</a></li>
    {{ end }}
</ul>
